.price {
    padding-top: 125px;
    &__wrapper {
        padding: 0 60px;
        margin-top: 60px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
        grid-auto-rows: minmax(45px, auto);
        row-gap: 15px;
        justify-content: space-between;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }
}